.header {
    max-width: 100% !important;
    background-color: #48F09A;

    &-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {
        max-width:150px;
      }

      &__links {
        display: flex;
        align-items: center;
        color: #000;
      }
    }

  &__logo {
    align-items: center;
    display: flex;
    background-color: #fff;
    padding: 20px 40px 20px 30px;


    &--image {
      max-width:50px;
    }

    &--title {
      color: #000;
      font-family: 'Aileron';
      font-weight:700;
      font-size:1.5em;
    }
  }
}

.gutter-links {
  margin-left:1em;
  font-family: 'Aileron';
  font-weight:700;
}

.header-bar__links {
  .gutter-links {
    margin: 0 0.5rem;
    position: relative;
  }

  .gutter-links:after {
    content: '';
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .gutter-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.burger {

  &__links {
    border-bottom: 1px solid #000;
    padding: 1em 0;
    margin: 1em;
    width:90% !important;
  }

  &__links:last-child {
    border-bottom: none;
  }

  &__account {
    display: flex;
    align-items: center;

    &--image {
      max-width: 1em;
      margin-right: 1em;
    }
  }

  &__connect {
    justify-content: space-between !important;
    width:90% !important;

    &--image {
      width: 1em;
      margin-right: 1em;
    }

    &--dark-mode {
      display: flex;
      align-items: center;
    }
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 80%;
  max-width:330px;
  background: #48F09A;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px 0 0 15px;
  font-family: 'Aileron';
  font-weight:700;
}

.css-hyum1k-MuiToolbar-root, .css-xdmu94-MuiContainer-root {
  padding-left: 0 !important;
}
